@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&family=Wix+Madefor+Display:wght@400..800&display=swap');

@font-face {
    font-family: "Cascadia Mono, Regular";
    src: url(../fonts/CascadiaCode-2404.23/otf/static/CascadiaMono-Regular.otf);
}

@font-face {
    font-family: "Cascadia Mono, Bold";
    src: url(../fonts/CascadiaCode-2404.23/otf/static/CascadiaMono-Bold.otf);
}

/* 
.wix-madefor-display-<uniquifier> {
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.teko-<uniquifier> {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* Variables */
:root {
    --DarkGrey: #373737;
    --SnowWhite: #FCFCFC;
    --GreenNeon: #14FE9B;
    --LightLakeGreen: #BBCDAB;
    --PinkNeon: #D44DE6;
    --TekoFont: "Teko", sans-serif;
    --WixFont: "Wix Madefor Display", sans-serif;

    /* Angiv vairabler så som farver, størrelser på margin, padding osv. */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    color-scheme: dark light;
}

body {
    height: 100svh;
    /* Small viewport height */
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="2088.433" height="10724.768" viewBox="0 0 2088.433 10724.768"><defs><linearGradient id="linear-gradient" x1="0.5" x2="0.511" y2="0.982" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="%2331b29e" stop-opacity="0"/><stop offset="0.192" stop-color="%232fbf98" stop-opacity="0.102"/><stop offset="0.266" stop-color="%239f2dc9" stop-opacity="0.102"/><stop offset="0.443" stop-color="%235f1c77" stop-opacity="0.102"/><stop offset="0.492" stop-color="%232f40bf" stop-opacity="0.102"/><stop offset="0.661" stop-color="%2349fc95" stop-opacity="0.102"/><stop offset="0.705" stop-color="%234f41fc" stop-opacity="0.102"/><stop offset="0.828" stop-color="%2325327c" stop-opacity="0.102"/><stop offset="0.867" stop-color="%2324bb64" stop-opacity="0.102"/><stop offset="0.901" stop-color="%23501dd9" stop-opacity="0.384"/><stop offset="1" stop-color="%23ec14fe" stop-opacity="0.702"/></linearGradient></defs><path id="Subtraction_7" data-name="Subtraction 7" d="M-7957.241,10724.769H-9883.062v-692.525c23.3,0,58.807.92,103.758,2.082,75.225,1.947,178.25,4.612,291.449,4.612,52.063,0,102.414-.573,149.655-1.7,54.061-1.293,105.987-3.361,154.336-6.146,53.855-3.1,104.929-7.189,151.8-12.144,25.116-2.655,49.576-5.618,72.7-8.806,24.117-3.325,47.453-6.988,69.361-10.888,22.8-4.058,44.714-8.485,65.124-13.163,21.169-4.848,41.351-10.108,59.985-15.631,19.271-5.713,37.42-11.869,53.942-18.3a465.877,465.877,0,0,0,47-21.153,302.542,302.542,0,0,0,39.158-24.205c5.838-4.313,11.341-8.789,16.351-13.307a176.188,176.188,0,0,0,14.056-14.143,145.791,145.791,0,0,0,11.643-15,125.477,125.477,0,0,0,9.119-15.888,114.52,114.52,0,0,0,6.48-16.8,112.28,112.28,0,0,0,3.732-17.729c8.768-68.825.056-139.562-25.9-210.247-6.034-16.435-13.075-33.03-20.931-49.328-7.645-15.865-16.262-31.865-25.613-47.556-9.1-15.267-19.108-30.59-29.748-45.544-10.374-14.581-21.589-29.148-33.33-43.293a808.752,808.752,0,0,0-75.212-78.877,846.432,846.432,0,0,0-82.948-67,782.758,782.758,0,0,0-86.286-53.213,622.772,622.772,0,0,0-85.224-37.512c-233.571-81.448-434.459-179.183-597.083-290.489-30.748-21.046-60.442-42.82-88.259-64.719-23.7-18.659-46.639-37.886-68.184-57.146-39.261-35.091-66.682-63.769-84.827-82.744-14.836-15.518-23.791-24.883-28.217-26.264a98.786,98.786,0,0,1-25.759-12.288,101.3,101.3,0,0,1-20.524-18.42c-11.518-13.518-20.492-30.732-26.675-51.166a221.211,221.211,0,0,1-7.107-32.724,286.862,286.862,0,0,1-2.718-34.98,344.988,344.988,0,0,1,1.272-36.012c1.031-11.887,2.669-23.939,4.866-35.824,2.163-11.7,4.875-23.275,8.059-34.41A322.979,322.979,0,0,1-9952.9,8372.4a245.5,245.5,0,0,1,13.251-27.917,162.423,162.423,0,0,1,15.249-22.838,109.321,109.321,0,0,1,11.013-11.453c4.374-4,9.606-8.351,15.552-12.916,11.511-8.841,26.24-18.925,43.78-29.971,32.655-20.566,75.749-45,131.743-74.709,104.991-55.695,242.477-122.991,388.034-194.237l.188-.092c121.262-59.356,246.652-120.732,370.287-183.569,66.966-34.033,126.395-64.925,181.684-94.441,30.141-16.092,59.221-31.876,86.433-46.914,28.687-15.852,56.326-31.444,82.153-46.341,27.06-15.611,52.923-30.917,76.869-45.5,25.024-15.233,48.77-30.164,70.579-44.376,22.68-14.779,43.972-29.24,63.283-42.98,20-14.23,38.5-28.129,54.983-41.312,17.008-13.6,32.377-26.847,45.677-39.367a424.938,424.938,0,0,0,35.365-37.148,217.422,217.422,0,0,0,24.048-34.656,125.79,125.79,0,0,0,7.466-16.308,88.661,88.661,0,0,0,4.26-15.582,66.352,66.352,0,0,0,.933-14.765,56.9,56.9,0,0,0-2.5-13.978,58.1,58.1,0,0,0-6.055-13.154,71.272,71.272,0,0,0-9.732-12.3,41.791,41.791,0,0,0-2.087-9.507,60.084,60.084,0,0,0-4.475-9.9,110.481,110.481,0,0,0-15.8-20.916,238.177,238.177,0,0,0-24.4-22.326c-9.32-7.521-20.214-15.471-32.378-23.626-11.822-7.925-25.187-16.276-39.725-24.82-14.1-8.287-29.723-17-46.439-25.908-16.168-8.612-33.84-17.659-52.524-26.888-18.014-8.9-37.521-18.239-57.98-27.763-38.767-18.048-81.226-36.929-129.8-57.723-43.239-18.509-90.361-38.116-144.062-59.941-99.679-40.512-206.968-82.509-310.724-123.124-86.41-33.824-175.761-68.8-259.179-102.331-44.775-18-84.445-34.207-121.277-49.556-41.236-17.186-77.8-32.827-111.788-47.816-36.5-16.1-69.919-31.431-99.343-45.576-31.489-15.137-59.729-29.549-83.935-42.833-12.651-6.944-24.517-13.752-35.266-20.233-11.024-6.648-21.22-13.161-30.3-19.36-9.28-6.333-17.682-12.532-24.973-18.424a213,213,0,0,1-19.271-17.427c-1.53-121.66-1.02-168.405-.479-217.895v-.105c.182-16.383.368-33.323.478-53.544,12.612-6.9,26.069-13.819,40-20.565,13.561-6.567,27.965-13.157,42.813-19.591,28.47-12.336,59.791-24.608,93.093-36.477,31.351-11.173,65.486-22.355,101.46-33.233,33.485-10.127,69.79-20.363,107.907-30.423,35.322-9.321,72.1-18.5,112.439-28.045,35.759-8.465,73.395-17,115.057-26.1,77.265-16.876,155.063-32.758,230.3-48.119,162.786-33.234,316.546-64.626,434.468-99.794,14.921-4.449,29.221-8.951,42.5-13.379,13.738-4.58,26.816-9.225,38.873-13.808,12.45-4.73,24.206-9.544,34.943-14.3,11.047-4.9,21.379-9.9,30.71-14.871,9.567-5.1,18.374-10.312,26.175-15.5A200.256,200.256,0,0,0-8422,5757.618a126.347,126.347,0,0,0,16.2-16.976,83.3,83.3,0,0,0,10.761-17.817,64.486,64.486,0,0,0,4.641-15.835,62.274,62.274,0,0,0,.317-16.53,74,74,0,0,0-4.189-17.268,103.145,103.145,0,0,0-8.88-18.048c-9.133-14.372-17.705-26.738-26.2-37.807a327.282,327.282,0,0,0-27.015-31.176c-18.624-18.837-39.314-34.629-65.114-49.7-12.518-7.312-26.394-14.552-42.422-22.133-14.891-7.044-31.861-14.48-51.882-22.735-38.254-15.771-83.5-32.861-140.786-54.5l-.08-.031c-74.341-28.08-166.862-63.028-284.261-110.359-63.7-25.681-129.508-52.927-195.6-80.98-76.389-32.422-156.376-67.285-237.741-103.62-16.166-7.16-32.419-14.937-48.307-23.114-15.231-7.84-30.539-16.259-45.5-25.024-27.916-16.357-55.654-34.522-82.446-53.992a1086.7,1086.7,0,0,1-129.922-111.3c-16.267-16.3-32.088-33.188-47.023-50.188-12.268-13.962-23.965-28.026-34.768-41.8-10.283-13.112-17.793-23.471-22.282-29.852-5.6-7.955-8.652-12.759-9.576-14.343a138.585,138.585,0,0,1-10.172-22.039,217.337,217.337,0,0,1-7.549-25.9c-4-17.425-6.8-37.772-8.319-60.472-2.557-38.209-1.584-83.7,2.894-135.212,1.759-20.215,4.07-41.435,6.873-63.073,2.243-17.316,4.8-34.9,7.595-52.273,4.752-29.52,8.641-48.631,8.679-48.82.958-.483,99.675-50.292,244.3-127.147,85.226-45.292,169.7-91.08,251.059-136.093,101.689-56.259,198.828-111.481,288.719-164.136,228.747-133.991,412.31-252.252,545.59-351.5,38.518-28.678,73.293-56.136,103.36-81.608,15.6-13.219,30.279-26.191,43.611-38.556,13.646-12.653,26.255-25.015,37.479-36.74,11.487-12,21.843-23.668,30.781-34.686a342.274,342.274,0,0,0,23.518-32.393,192.013,192.013,0,0,0,15.689-29.864,103.951,103.951,0,0,0,7.292-27.1,67.312,67.312,0,0,0,.056-15.293,55.423,55.423,0,0,0-3.516-14.084,55.514,55.514,0,0,0-7.226-12.817,68.241,68.241,0,0,0-11.066-11.493c-11.3-9.372-25.642-19.456-42.634-29.971-16.247-10.056-35.487-20.86-57.187-32.111-40.193-20.84-89.533-43.686-150.837-69.842-52.094-22.227-111.661-46.379-187.46-76.01-67.113-26.236-136.368-52.637-209.688-80.589-101.378-38.648-206.209-78.612-306.45-118.663-54.152-21.636-102.035-41.317-146.387-60.166-50.039-21.267-94.215-40.884-135.05-59.973-21.639-10.116-42.392-20.121-61.685-29.739-20.127-10.035-39.284-19.952-56.941-29.479-18.321-9.884-35.671-19.691-51.567-29.151-16.4-9.763-31.729-19.436-45.553-28.75-14.236-9.592-27.325-19.107-38.905-28.28a388.16,388.16,0,0,1-31.623-27.741,225.772,225.772,0,0,1-23.7-27.132,127.377,127.377,0,0,1-15.146-26.449,85.027,85.027,0,0,1-4.46-14.263,68.8,68.8,0,0,1-1.563-14.023,62.839,62.839,0,0,1,1.443-13.772,66.271,66.271,0,0,1,4.555-13.508,142.036,142.036,0,0,1,13.92-23.307A269.8,269.8,0,0,1-9850.383,2413c7.967-8.584,17.235-17.715,27.551-27.136,10.059-9.183,21.378-18.888,33.646-28.844,11.924-9.679,25.131-19.912,39.254-30.413,13.655-10.152,28.59-20.865,44.387-31.844,29.885-20.765,64.286-43.452,102.248-67.431,35.288-22.289,73.561-45.677,117-71.5,38.619-22.952,80.461-47.309,127.916-74.464,87.987-50.343,182.021-102.672,272.958-153.279l.227-.127c91.464-50.9,186.043-103.528,273.286-153.5,46.948-26.893,88.09-50.895,125.775-73.373,42.333-25.249,79.377-48.017,113.248-69.6,36.344-23.163,68.9-44.929,96.759-64.7,14.691-10.425,28.47-20.571,40.953-30.152,12.839-9.853,24.731-19.443,35.347-28.5,10.88-9.283,20.719-18.267,29.242-26.7a305.477,305.477,0,0,0,22.643-24.763,156.833,156.833,0,0,0,15.547-22.685,74.893,74.893,0,0,0,7.956-20.461,43.274,43.274,0,0,0,.785-10.331,66.869,66.869,0,0,0-1.572-11.749,131.858,131.858,0,0,0-9.913-27.556,295.4,295.4,0,0,0-18.441-32.628c-7.374-11.479-16.245-24.027-26.368-37.293-9.88-12.949-21.216-26.931-33.693-41.555-12.157-14.251-25.756-29.529-40.417-45.409-28.182-30.524-61.361-64.428-98.618-100.769-128.9-125.736-311.748-285.985-543.479-476.293-91.117-74.827-190.009-154.467-293.931-236.705-83.271-65.9-169.909-133.584-257.5-201.175C-9796.248,77.343-9898.722.722-9899.688,0h232.282c.217.111,24.967,12.833,67.5,35.528,39.307,20.975,102.315,55.02,179.277,98.1,86.545,48.451,172.753,98.229,256.229,147.955,104.349,62.161,204.728,124.431,298.351,185.08,238.285,154.368,434.691,299.257,583.764,430.644,21.242,18.721,41.814,37.436,61.146,55.623,19.853,18.677,38.93,37.3,56.706,55.36,18.257,18.548,35.657,37.017,51.719,54.9,16.48,18.349,32.021,36.6,46.19,54.236,14.515,18.073,28.011,36.031,40.113,53.373,12.387,17.752,23.656,35.353,33.5,52.315a553.948,553.948,0,0,1,26.333,51.056,407.594,407.594,0,0,1,18.628,49.6,303.851,303.851,0,0,1,10.4,48.161c1.009,7.872,1.652,15.743,1.908,23.391a226.5,226.5,0,0,1-.383,22.9,209.3,209.3,0,0,1-2.737,22.379,201.778,201.778,0,0,1-5.168,21.835,199.306,199.306,0,0,1-7.663,21.265,205.957,205.957,0,0,1-10.227,20.672,584.086,584.086,0,0,1-36.755,56.639c-13.389,18.3-28.468,36.885-44.816,55.233-15.863,17.805-33.387,35.909-52.083,53.812-18.1,17.327-37.8,34.945-58.562,52.365-20.076,16.847-41.692,33.972-64.249,50.9-21.779,16.347-45.043,32.973-69.147,49.42-23.166,15.808-47.812,31.929-73.254,47.917-24.354,15.3-50.117,30.915-76.573,46.4-92.557,54.165-198.435,109.764-323.686,169.975-109,52.4-217.655,101.077-313.525,144.028l-.07.032c-115.918,51.931-216.027,96.78-288.856,135.325-38.556,20.407-66.8,37.657-86.352,52.737-5.171,3.989-9.8,7.888-13.765,11.585a106.355,106.355,0,0,0-10.307,10.937,55.005,55.005,0,0,0-6.687,10.287,29.122,29.122,0,0,0-2.9,9.631,20.07,20.07,0,0,0,1.8,10.042,43.69,43.69,0,0,0,7.186,10.891,101.609,101.609,0,0,0,12.287,11.712,210.718,210.718,0,0,0,17.113,12.511c24.549,16.295,60.893,35.092,111.109,57.465,22.72,10.123,47.985,20.856,77.237,32.811,26.2,10.711,55.22,22.239,88.708,35.243,62.486,24.267,130.685,49.843,202.887,76.92,57.559,21.587,117.075,43.906,177.337,66.936,68,25.987,127,49.094,180.361,70.644,64.639,26.1,121.605,50.131,174.156,73.461,28.675,12.731,56.219,25.351,81.868,37.511,27,12.8,52.861,25.548,76.852,37.883,25.1,12.905,48.88,25.739,70.688,38.143,22.737,12.933,44.057,25.817,63.365,38.293,20.039,12.947,38.508,25.843,54.894,38.331a543.762,543.762,0,0,1,45.265,38.259,320.962,320.962,0,0,1,34.484,38.076,211.712,211.712,0,0,1,12.839,18.933,161.61,161.61,0,0,1,9.709,18.847,126.587,126.587,0,0,1,6.438,18.744,104.853,104.853,0,0,1,3.02,18.631,94.765,94.765,0,0,1-.54,18.5,96.279,96.279,0,0,1-4.244,18.357c-.125.216-12.767,21.892-32.7,50.069-11.771,16.633-23.787,32.319-35.712,46.619a496.215,496.215,0,0,1-44.02,46.813q-44.99,41.488-95.224,88.813c-141.01,132.2-316.5,296.728-545.489,477.175-29.223,23.027-58.971,46.033-88.416,68.383-30.86,23.421-62.375,46.871-93.667,69.695-32.6,23.78-65.96,47.6-99.143,70.816-34.423,24.079-69.7,48.219-104.844,71.75-36.349,24.334-73.618,48.725-110.773,72.495-38.415,24.572-77.755,49.149-116.93,73.049-40.435,24.67-81.923,49.371-123.311,73.416-42.6,24.748-86.31,49.508-129.917,73.592a138.786,138.786,0,0,0-8.962,20.519,96.363,96.363,0,0,0-4.432,19.065,75.612,75.612,0,0,0-.105,17.763,70.719,70.719,0,0,0,4.019,16.611,78.248,78.248,0,0,0,5.026,10.794,92.442,92.442,0,0,0,6.8,10.372,130.83,130.83,0,0,0,18.667,19.675c13.877,12.069,32.114,23.985,55.755,36.426,44.655,23.5,102.981,45.983,170.517,72.015l.023.008.017.007c37.914,14.614,77.118,29.725,118.633,46.8,30.957,12.732,63.544,25.448,99.619,38.871,32.153,11.965,66.359,24.223,104.571,37.472,70.952,24.6,145.11,48.915,216.828,72.427l.055.017.007,0c73.447,24.079,149.4,48.977,221.123,73.948,38.56,13.424,72.952,25.831,105.145,37.931,36.066,13.556,68.436,26.374,98.959,39.183,32.754,13.746,63.319,27.5,90.848,40.895,14.507,7.056,28.564,14.2,41.78,21.233,13.6,7.242,26.735,14.588,39.029,21.836,12.622,7.443,24.748,15.011,36.037,22.494,11.571,7.669,22.606,15.479,32.8,23.209,10.458,7.931,20.327,16,29.331,23.985,9.227,8.179,17.845,16.528,25.617,24.816,7.1,7.24,15.105,18.584,23.148,32.807,4.169,7.375,8.332,15.488,12.372,24.113,4.208,8.981,8.307,18.575,12.183,28.511a574.225,574.225,0,0,1,21.628,67.98,594.184,594.184,0,0,1,14.359,78.872,525.407,525.407,0,0,1,2.753,85.3c-.764,14.8-2.222,29.49-4.33,43.667a417.415,417.415,0,0,1-8.861,43.6,382.446,382.446,0,0,1-13.931,42.976,359.755,359.755,0,0,1-19.544,41.795,350.184,350.184,0,0,1-25.7,40.054,357.591,357.591,0,0,1-32.4,37.758c-9.112,9.237-19.387,18.733-30.539,28.223-10.812,9.2-22.739,18.639-35.448,28.052-24.3,18-52.28,36.513-83.171,55.04-29,17.395-61.119,35.126-95.455,52.7-32.187,16.473-66.782,33.047-102.826,49.259-33.81,15.205-69.233,30.249-105.288,44.71-33.966,13.622-68.567,26.761-102.846,39.058-32.606,11.694-64.734,22.561-95.49,32.3-29.674,9.4-57.675,17.618-83.228,24.436a345.361,345.361,0,0,1-34.334,7.156c-11.767,1.876-24.706,3.432-38.46,4.625-25.087,2.173-53.422,3.229-86.624,3.229-53.2,0-110.7-2.732-166.311-5.375l-1.317-.063-.25-.012c-27.449-1.3-55.833-2.651-83.027-3.642-30.554-1.114-56.478-1.656-79.257-1.656-32.239,0-59.461,1.063-83.223,3.25-13,1.2-25.148,2.764-36.1,4.659a278.574,278.574,0,0,0-31.532,7.207,161.322,161.322,0,0,0-26.278,10.153,93.624,93.624,0,0,0-20.35,13.494,62.4,62.4,0,0,0-13.74,17.232,56.8,56.8,0,0,0-4.183,10.141,62.009,62.009,0,0,0-2.277,11.224,49.286,49.286,0,0,0-4.643,9.385,39.68,39.68,0,0,0-2.182,9.41,38.177,38.177,0,0,0,.208,9.433,43.951,43.951,0,0,0,2.524,9.458,65.6,65.6,0,0,0,9.854,16.719,123.447,123.447,0,0,0,16.412,16.8,228.552,228.552,0,0,0,22.582,16.9c8.366,5.552,17.9,11.271,28.355,17,10.172,5.576,21.52,11.331,33.729,17.1,11.841,5.6,24.863,11.392,38.708,17.215,26.281,11.053,56.825,22.756,90.781,34.785,31.7,11.229,66.355,22.777,105.961,35.3,35.357,11.181,73.949,22.913,117.98,35.867,82,24.121,168.154,48.163,259.365,73.613,156.114,43.563,317.542,88.608,461.659,135.4,37.24,12.093,72.4,24.015,104.494,35.432,34.42,12.244,66.694,24.4,95.926,36.126,30.987,12.431,59.675,24.831,85.265,36.854,26.91,12.643,51.3,25.3,72.505,37.613,9.211,5.349,18.036,10.941,26.231,16.622,8.056,5.585,15.713,11.405,22.759,17.3a262.557,262.557,0,0,1,19.413,17.928,221.97,221.97,0,0,1,16.195,18.512,192.81,192.81,0,0,1,13.1,19.049,174.471,174.471,0,0,1,10.138,19.54,165.3,165.3,0,0,1,7.3,19.987,164.805,164.805,0,0,1,4.589,20.388,175.389,175.389,0,0,1,2.04,32.548,205.539,205.539,0,0,1-3.787,33.239,255.792,255.792,0,0,1-9.128,33.753,327.5,327.5,0,0,1-13.987,34.093c-5.308,11.168-11.487,22.694-18.364,34.258-6.658,11.195-14.144,22.718-22.253,34.248-7.836,11.144-16.469,22.605-25.66,34.064-8.867,11.054-18.482,22.392-28.584,33.7-5.646,6.323-12.418,13.286-20.13,20.695-7.531,7.232-16.179,15.1-25.707,23.393-18.349,15.964-40.789,34.2-66.7,54.2-24.512,18.921-53,40.095-84.678,62.931-29.605,21.343-63.178,44.992-99.786,70.288-63.633,43.969-139.973,95.368-233.381,157.135-83.395,55.144-172.807,113.549-259.274,170.032-90.864,59.352-184.824,120.726-274.151,179.847-99.893,66.114-181.958,121.479-250.885,169.26-39.7,27.521-76.19,53.331-108.462,76.711-34.577,25.048-65.781,48.372-92.742,69.321-28.525,22.166-53.327,42.471-73.716,60.354-10.6,9.293-20.251,18.148-28.689,26.318-8.646,8.365-16.283,16.267-22.7,23.484a75.808,75.808,0,0,0-8.963,12.237,55.74,55.74,0,0,0-5.376,12.432,48.275,48.275,0,0,0-1.9,12.63,51.523,51.523,0,0,0,1.46,12.829,70.14,70.14,0,0,0,7.273,17.96,116.409,116.409,0,0,0,13.1,18.356,199.1,199.1,0,0,0,18.633,18.76c6.99,6.226,15.02,12.676,23.865,19.175,8.645,6.354,18.336,12.947,28.8,19.6,10.193,6.48,21.446,13.222,33.445,20.035,11.672,6.629,24.387,13.519,37.788,20.477,12.979,6.743,27.054,13.784,41.831,20.931,28.138,13.605,59.089,27.755,94.622,43.258,31.921,13.927,67,28.705,107.248,45.183,75.168,30.778,156.61,62.671,242.834,96.436l.031.013c75.526,29.576,153.625,60.16,232.606,92,89.384,36.039,166.808,68.452,236.7,99.095,13.339,6.359,26.8,13.489,40.009,21.192,12.833,7.481,25.808,15.726,38.561,24.5,12.383,8.522,24.879,17.768,37.139,27.479,11.882,9.405,23.91,19.537,35.747,30.114,11.417,10.2,22.985,21.107,34.383,32.416,10.974,10.894,22.089,22.46,33.04,34.38,10.522,11.455,21.2,23.569,31.73,36.009,10.079,11.9,20.322,24.449,30.448,37.3,35.412,44.933,71.229,95.749,109.5,155.349,33.344,51.93,64.056,103.521,91.153,149.038,21.136,35.509,41.1,69.048,59.335,97.754,20.212,31.82,36.14,54.3,50.124,70.75v910.832Zm-551.83-221.242c9.644,0,18.326.366,26.545,1.118a192.494,192.494,0,0,1,25.767,4.016,142.487,142.487,0,0,1,24.427,7.9,117.716,117.716,0,0,1,22.53,12.772,116.072,116.072,0,0,1,20.077,18.632,138.921,138.921,0,0,1,17.065,25.478,194.544,194.544,0,0,1,13.492,33.312,296.334,296.334,0,0,1,9.361,42.134,52.957,52.957,0,0,0,4.821,14.549,32.629,32.629,0,0,0,7.77,9.93,30.012,30.012,0,0,0,10.413,5.686,42.252,42.252,0,0,0,12.742,1.813,82.886,82.886,0,0,0,23.217-3.854,181.339,181.339,0,0,0,26.8-10.68c17.687-8.556,37.845-20.851,59.913-36.544,19.416-13.806,39.918-29.944,60.938-47.966,18.372-15.752,36.732-32.628,53.091-48.8a416.126,416.126,0,0,0,80.015-110.84,439.912,439.912,0,0,0,24.509-60.148,455.825,455.825,0,0,0,15.172-60.967,458.658,458.658,0,0,0,6.576-60.033,436.467,436.467,0,0,0-1.28-57.349,384.273,384.273,0,0,0-8.388-52.914,306.839,306.839,0,0,0-14.757-46.727,222.106,222.106,0,0,0-19.332-37.21,148.868,148.868,0,0,0-23.81-28.461,99.018,99.018,0,0,0-27.635-18.192,77.951,77.951,0,0,0-30.82-6.4,82.22,82.22,0,0,0-17.679,1.966,98.2,98.2,0,0,0-18.313,6.06c-26.965,12.884-51.8,24.083-73.809,33.284-21.08,8.813-40.344,16.117-57.258,21.709-31.267,10.338-55.83,15.364-75.093,15.365a81.956,81.956,0,0,1-21.19-2.512,58.554,58.554,0,0,1-15.767-6.7c-9.133-5.58-15.859-13.029-22.98-20.915l0,0c-1.09-1.209-2.262-2.507-3.458-3.812a142.415,142.415,0,0,0-12.655-12.462,82.181,82.181,0,0,0-16.259-10.872,90.507,90.507,0,0,0-22.3-7.69,127.446,127.446,0,0,0-14.179-2.155c-5.212-.507-10.8-.763-16.6-.763a271.888,271.888,0,0,0-34.818,2.484c-13.415,1.75-28.317,4.479-44.3,8.109a193.083,193.083,0,0,0-25.381,6.244,182.063,182.063,0,0,0-23.286,9.267,179.649,179.649,0,0,0-21.22,12.056,184.983,184.983,0,0,0-19.187,14.605,206.117,206.117,0,0,0-32.4,35.921,254.088,254.088,0,0,0-24.631,43.295,311.788,311.788,0,0,0-15.012,41.175,366.218,366.218,0,0,0-9.733,43.974,410.847,410.847,0,0,0-4.606,45.613,435.15,435.15,0,0,0,.37,46.092,431.069,431.069,0,0,0,5.2,45.41,398.689,398.689,0,0,0,9.869,43.571,345.338,345.338,0,0,0,14.391,40.57,281.2,281.2,0,0,0,18.763,36.411,53.69,53.69,0,0,0,6.024,8.021,51.655,51.655,0,0,0,7.126,6.487,56.572,56.572,0,0,0,8.153,5.092,68.444,68.444,0,0,0,9.095,3.846,100.889,100.889,0,0,0,20.7,4.517,194.883,194.883,0,0,0,23.49,1.25c14.6,0,30.12-1.1,46.555-2.256l.023,0,1.679-.119h.031C-8544.718,10504.789-8526.83,10503.526-8509.07,10503.526Z" transform="translate(9978.001 -0.001)" fill="url(%23linear-gradient)"/></svg>');
    background-color: #1F1F1F;
    background-size: 100%;
    background-repeat: no-repeat;
}

.frontpage {
    background-image: radial-gradient(closest-side at 30% 50%, #40694D, #1F1F1F);
}

img,
video,
picture,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

/* Typografi */
@import url("");
/* Tilføj googlefonts url til fonte */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

h1 {
    color: var(--SnowWhite);
    font-size: 100px;
    font-family: var(--WixFont);
    font-weight: 800;
}

h2 {
    color: var(--GreenNeon);
    font-size: 100px;
}

h3 {
    font-size: 50px;
}



p {
    max-width: 75ch;
    text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

header {
    background-color: #1F1F1F;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 2rem;
}

.mainNav {
    display: flex;
    justify-content: space-evenly;
    border-radius: 40px 40px 40px 40px;
    border: 3px solid var(--GreenNeon);
    margin: 0px 230px;
    margin-top: 10px;
    position: relative;
    top: 3px;
    background-color: #1F1F1F;
}

.mainNav a {
    text-decoration: none;
    color: #BBCDAB;
    opacity: 72%;
    padding: 2px 30px;
    position: relative;
    display: inline-block;
    font-size: 25px;
    font-family: var(--WixFont);
}

.mainNav a:hover {
    color: var(--SnowWhite);
    opacity: unset;
}

.mainNav li {
    list-style-type: none;
    text-align: center;
    background-color: #1F1F1F;
}

.mainNav .activeNav {
    color: var(--SnowWhite);
    opacity: unset;
    font-weight: bold;
    background-color: var(--PinkNeon);
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    transform: skew(-20deg);
}

.mainNav .activeNav a {
    transform: skew(20deg);
    color: var(--SnowWhite);
    opacity: unset;
}

.sideNav {
    background-color: var(--GreenNeon);
    padding: 3rem 1rem 4rem 0rem;
    border-radius: 0px 10px 10px 0px;
}

.sideNav a {
    text-decoration: none;
    color: #373737;
}

.sideNav li {
    list-style-type: none;
    font-size: 18px;
    font-family: var(--WixFont);
}

.sideNav>ul>li {
    font-weight: bold;
    font-size: 20px;
    font-family: var(--WixFont);
    margin: 0.5rem 0rem;
}

.sideNav ul {
    padding: 0px 0px 0px 10px;
}

.mainFrontpage {
    position: relative;
}

.caseStudy {
    margin-left: 230px;
}

.sideNav {
    position: absolute;
}

.underNav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.mainSection p {
    color: white;
}

.mainSection h3 {
    font-weight: 800;
    color: var(--SnowWhite);
    font-family: var(--WixFont);
}

.textArea {
    position: absolute;
    margin: 60px 50px;
}

.introductionText {
    position: absolute;
    margin: 0px 50px;
    margin-top: 300px;
    font-family: "Cascadia Mono, Regular";
    display: flex;
    align-items: center;
}

.smallTriangle {
    position: absolute;
    right: 0;
    top: 100px;
    width: 58%;
    /* Juster bredden */
    height: 92vh;
    /* Juster højden */
    background: linear-gradient(to bottom left, var(--GreenNeon) 0%, var(--GreenNeon) 40%, #1F1F1F 80%, #1F1F1F 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.mediumTriangle {
    position: absolute;
    right: 0;
    top: 80px;
    width: 58%;
    /* Juster bredden */
    height: 92vh;
    /* Juster højden */
    background: linear-gradient(to bottom left, var(--PinkNeon) 0%, var(--PinkNeon) 40%, #1F1F1F 80%, #1F1F1F 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.largeTriangle {
    position: absolute;
    right: 0;
    top: 60px;
    bottom: 0;
    width: 58%;
    /* Juster bredden */
    height: 92vh;
    /* Juster højden */
    background: linear-gradient(to bottom left, #02F3FF 0%, #02F3FF 40%, #1F1F1F 80%, #1F1F1F 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.profilBillede {
    height: 92vh;
    position: absolute;
    right: 0;
    top: 100px;
}





.line {
    width: 1px;
    background-color: #707070;
    height: 420px;
    /* Juster højden efter behov */
    margin-right: 20px;
    /* Juster afstand mellem paragraffer */
}

.step1 {
    height: 420px;
}

.step2 {
    height: 336px;
}

.darkBlueColor {
    color: #7299CC;
}

.grayColor {
    color: #818181;
}

.yellowColor {
    color: #DBB445;
}

.lightBlueColor {
    color: #9DC8E5;
}

.brownColor {
    color: #B4876F;
}

.bodyTag,
.divTag {
    font-size: 15px;
}